body {
  background-color: hsl(0, 0%, 29%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}
h1{
  color: white;
}
.input-field{
  background-color: hsl(0, 0%, 67%);
  height: 2rem;
  padding-left: 0.5rem;
  outline: none;
  width: 20rem;
}
.send-scores{
  width: 100px;
  height: 30px;
}
table{
  font-family: monospace;
  font-size: 1rem;
  font-weight: 0;
  border-collapse: collapse;
  width: 50%;
}
td,th{
  border: 2px solid hsl(0, 0%, 100%);
  text-align: left;
  padding: 8px;
  color: white;
}
span{
  margin-top: 20px;
}
.no-underline {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 20px;
}
.no-underline:hover{
  color: hsla(117, 100%, 42%, 0.73);
  text-decoration:underline;
  transition: color 5ms ease;
}
.drawBoard{
  margin-top: 0px;
  margin-left: -25px;
  height: 350px;
  width: 700px;
  background-color:transparent;
  display: flex;
  flex-direction: column;
}
.cnavasPage{
  border-radius: 20px;
  border:2px solid hsl(0, 0%, 59%);
  background-color: white;
}
.chatBox{
  /* border: 2px solid white; */
  width: 400px;
  height: auto;
}
.message-left {
  text-align: left;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
}

.message-right {
  text-align: right;
  background-color: #d1e5e7;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  margin-left: auto;
  width: fit-content;
}
p{
  max-width: 150px;
  word-wrap:break-word;
  overflow-wrap: break-word;
}